#Wed Apr 11 16:18:57 CST 2018
stsRegionId=cn-shanghai
stsAccesskey=access_key
stsAccessId=access_id
__inner__clusterName__=testcluster
__inner__queueName__=root.blink.testqueue
__inner__kmonEndpoint__=http://xxx

# minbatch config
blink.miniBatch.allowLatencyMs=5000
blink.miniBatch.size=19999
state.backend.niagara.ttl.ms=192000000
blink.miniBatch.flushBeforeSnapshot=false
