<svg:g class="node node-rect">
  <svg:foreignObject class="node-labels-container" [attr.y]="node.height ? (-node.height/2) : 0" [attr.width]="200" [attr.height]="node.height + 50">
    <xhtml:div class="node-label-wrapper" [class.error]="(inQ===1) || (outQ ===1)" nz-tooltip [nzTitle]="description">
      <h4 class="content-wrap">{{ description | slice:0:300 }} ...</h4>
      <xhtml:div class="node-label">Parallelism: {{parallelism}}</xhtml:div>
      <xhtml:div class="node-label" [class.error]="inQ===1">In Queue: {{ (inQ | percent) || '-' }}</xhtml:div>
      <xhtml:div class="node-label" [class.error]="outQ===1">Out Queue: {{ (outQ | percent) || '-' }}</xhtml:div>
    </xhtml:div>
  </svg:foreignObject>
</svg:g>
